body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0 45px;
}

img {
    width: 300px;
    height: 100px;
}
.nav  {
    list-style: none;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
}




.welcome {
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.welcome-content {
    max-width: 500px;
}

.welcome-content h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.welcome-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.button {
    font-size: 1.1rem;
    background-color: #283593;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
}