body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* header div */
.header {
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px 0 45px;
    flex-wrap: wrap;
}

img {
    max-width: 250px;
    height: 100px;
}

.nav  {
    list-style: none;
    display: flex;
}

.nav li {
    margin-left: 20px;
}

.nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
}

.nav a:hover {
    color: #c5cae9;
    transform: rotate(6deg);
}


/* welcome div */
.welcome {
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
}

.welcome-content {
    max-width: 500px;
}

.welcome-content h1 {
    font-weight: normal;
    font-size: 3rem;
    margin: 0;
}

.welcome-content p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.button {
    font-size: 1.1rem;
    background-color: #283593;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
}

/* featured div */
.featured-wrapper {
    background-color: #e8eaf6;
    padding: 60px 40px;
}

.featured-width {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 33% 33% 33%; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    column-gap: 30px;
}

.featured-items h1 {
    color: #283593;
    font-size: 1.5rem;
    /* margin: 0; */
}

.featured-items p {
    margin: 0;
    line-height: 1.6;
    color: #333;
}


/* FOOTER */
.footer {
    text-align: center;
    font-size: .9rem;
    padding: 20px 0;
}
