body {
    margin: 0;
}

.header {
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
}

li a {
    color: #FFF;
    text-decoration: none;
    /* works on li element => list-style: none; */
}